<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LHTransition.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18CDC6DB1E4975ED00CF5833</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CDC6F41E4975ED00CF5833</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CDC6FF1E4975ED00CF5833</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
